*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 2950px;
    font-family: "pt-sans",sans-serif;
}
.maincolor{
    color:#7b5244;
}
.secolor{
    color:#333;
}
.pd{
    padding: 40px 0;
}
.container {
    width: 80%;
    margin: auto;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}
.sec-header{
    text-align: center;
    margin-bottom: 25px;
}
.title{
    font-size: 30px;
    margin-bottom: 10px;
}
.line{
    display: block;
    width: 90px;
    height: 2px;
    background-color: #C2854A;
    margin: 10px auto;
    transition: width .5s;
}
.line:hover{
    width: 150px;
}
/* HEADER................................................................................................... */
.header-content , .content-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-content img{
    flex: 1;
    max-width: 140px;
    }
    .header-content nav{
    flex:3;
    text-align: center;
    }
    .header-content  .search{
    flex:1;
    }
.header-content ul li{
    display:inline-block;
}
.header-content ul li .link-item{
    position: relative;
    padding: 10px 19px;
    display: block;
    font-weight: bold;
}
.header-content nav ul li .link-item {
    position: relative;
    padding: 10px 19px;
    display: block;
    font-weight: bold;
    position: relative;
}
.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after{
content:"";
position: absolute;
border-style: solid; 
left: 0;
top:0; 
transition: transform 0.2s;
}
.header-content nav ul li .link-item:before{
    border-width: 0 2px;
    height: 100%; 
    width: 95%;
    transform: scale3d(1,0,1);
}
.header-content nav ul li .link-item:hover:before{
    transform: scale3d(1,1,1);
}
.header-content nav ul li .link-item:after{
    border-width: 2px 0;
    height: 91%; 
    width: 98%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}
.header-content nav ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: .2s;
}
.header-content .search ul li:last-child i {
    position: relative;
    margin-right: 11px;
}
.header-content .search ul li:last-child i::after{
    position: absolute;
    content: "0";
    background-color: #7b5244;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
    bottom: -4px;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    background-color: white;
    width: 450px;
    border: 2px solid #7b5244;
    padding: 15px;
    margin-top: 5px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.dropdown-menu ul{
    display: table-cell;
    text-align: left;
}
.dropdown-menu ul li:first-child a {
    display: block;
    border-bottom: 1px dotted  #7b5244;
    margin-bottom: 10px;
}
.dropdown-menu ul li {
    line-height: 1.7;
}
.home img {
    width: 100%;
}
/* category................................................................................................... */
.category-item{
    position: relative;
    flex-basis:24%;
    
}
.category-item img {
    width: 100%;
    height: 280px;
    margin-bottom: 25px;
}
.category-title{
    color: grey;
    text-transform:capitalize;
    font-size: 12px;
    display: block;
}
.category-text{
    text-transform:capitalize;
    font-size:13px;
}
.icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: brown;
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
}
.category-item:hover .icon{
    visibility:visible;
    opacity: 1;
}
.astrid-content{
    display: flex;
    margin-top: 30px;
}
.astrid-des{
    flex: 2;
    background: #f7f3ef;
    padding: 20px;
    position: relative;
    height: 300px;
}
.astrid-title {
    margin-top: -40px;
    margin-left:55px;
    margin-bottom: 10px;
}
.market{
    margin-top: -13px;
    font-size: 12px;
    color: black;
    display: block;
    margin-left: 55px;
}
.astrid-text{
    padding: 10px 0;
    line-height: 1.5;
}
.icon-qoute{
    margin-top: -3px;
    color: #7b5244;
    font-size: 50px;
}
.line-left{
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.ltr{
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #C2854A;
    margin-left: 10px;
}
.astrid-item{
    flex: 1;
    height: 300px;
    background-size: cover;
    margin-left: 20px;
    transition: transform 0.5s;
    position: relative;
}
.item1{
    background-image: url(../images/cms-banner-1.jpg);
}
.item2{
    background-image: url(../images/cms-banner-2.jpg);
}
.astrid-item:hover{
    transform: scale(1.1);
}
.astrid-info{
    position: absolute;
    top: 20px;
    left: 15px;
}
.discount{
    font-size: 14px;
}
/* SPRITES.................................................................................................. */
.sprites {
    display:flex;
    margin-bottom: 55px;
    margin-top: 30px;
}
.sprite-item{
    flex:1;
    text-align: center;
    border-right: 1px solid #7b5244;
}
.sprite-item:last-child{
    border:0;
}
.sprite-info h3{
    font-size: 17px;
}
.sprite-info span{
    color: gray;
    font-size: 15px;
}
.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}
.sprite-icon-1{
background-position: center 5px;
transition: all .5s;
}
.sprite-item:hover .sprite-icon-1{
    background-position: center -86px;
}
.sprite-icon-2{
background-position: center -180px;
transition: all .5s;
}
.sprite-item:hover .sprite-icon-2{
    background-position: center -273px;
}
.sprite-icon-3{
background-position: center -366px;
transition: all .5s;
}
.sprite-item:hover .sprite-icon-3{
    background-position: center -455px;
}
.sprite-icon-4{
background-position: center -549px;
transition: all .5s;
}
.sprite-item:hover .sprite-icon-4{
    background-position: center -639px;
}
.sprite-icon-5{
background-position: center -734px;
transition: all .5s;
}
.sprite-item:hover .sprite-icon-5{
    background-position: center -826px;
}
/* category................................................................................................... */
.product-list{
    text-align: center;
}
.product-list > li{
    display: inline-block;
    margin: 10px 20px;
}
.product-list > li a{
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 30px 0px;
}
.product-img img{
    width: 100%;
}
.product-img{
    position: relative;
}
.product-info span {
    display: block;
    margin: 5px 0;
}
.product-info h2 {
    font-size: 1.17em;
}
.product-info i {
    margin-top: 10px;
}
.star-y{
    color: yellow;
}
.social-list{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social-item{
    width: 40px;
    height: 40px;
    background-color: #7b5244;
    text-align: center;
    margin: 2px;
}
.social-item i{
    color: #fff;
    line-height: 40px;
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scalex(0);
    opacity: 0.9;
    transition: transform 0.2s;
}
.product-item:hover .product-overlay{
    transform: scalex(1);
}

